{% extends 'blogg/base.html' %}


{% block title %}افزودن مطلب{% endblock %}







{% block content %}
  
  
  {% if user.is_authenticated %}

  <form enctype="multipart/form-data" action="{% url 'addarticle' %}" method="POST">
    {% csrf_token %}
    <center style="margin-top: 150px;margin-bottom: 150px;">
        {{ form }}
        <button id="add-post-btn" type="submit">افزودن مطلب</button>
    </center>
</form>

  {% else %}
  
  <center>
    <h3 style="margin-top: 125px;margin-bottom: 125px;margin-left: 20px;margin-right: 20px;">
      برای افزودن مطلب <a href="{% url 'accounts:signup' %}">ثبت نام </a>کنید و یا اگر اکانت دارید <a href="{% url 'accounts:login' %}">وارد</a>
      سایت شوید
    
    </h3>
  </center>
  {% endif %}
  
{% endblock content %}





    

{% block footer %}
<!-- Footer -->
<footer class="py-5 bg-dark" id="footer">
  <div class="container">
  <p class="m-0 text-center text-white">Copyright &copy; 2021</p><center><p id="copyright"> !تمام حقوق برای این وبسایت محفوظ است </p><hr>
  <a class="btn btn-warning btn-sm glyphicon glyphicon-eye-open" id="oloino" href="https://t.me/oloino" role="button">((( oloino  ساخته شده توسط )))</a>
  </div>
</footer>
<!-- end Footer -->
{% endblock footer %}