{% extends 'blogg/base.html' %}


{% block title %}پست با موفقیت افزوده شد{% endblock %}






{% block content %}


<b><center style="margin-top: 15%;"><h1>!پست با موفقیت افزوده شد</h1></center></b>
<center style="margin-top: 5%;">
    
<a class="btn btn-warning btn-lg glyphicon glyphicon-eye-open" href="../"  style="font-size: 20px;border-radius: 10px;padding-bottom: 5px;background: black;color: gold;" role="button"> بازگشت به صفحه اصلی</a><br><br><br>

</center>

{% endblock content %}



{% block footer %}

<footer class="py-5 bg-dark" id="footer">
    <div class="container">
    <p class="m-0 text-center text-white">Copyright &copy; 2021</p><center><p id="copyright"> !تمام حقوق برای این وبسایت محفوظ است </p><hr>
    <a class="btn btn-warning btn-sm glyphicon glyphicon-eye-open" id="oloino" href="https://t.me/oloino" role="button">((( oloino  ساخته شده توسط )))</a>
    </div>
</footer>

{% endblock footer %}
